//COLORS

$brand-gold: rgb(229,214,180);
$darkGrey: rgb(155,155,155);
$lightGrey: rgb(242,242,242);

//TYPOGRAPHY FONT-FAMILIES
$paraFont: 'Montserrat', sans-serif;
$titleFont: 'Open Sans', sans-serif;
// Open Sans (Extra bold, regular)
// Montserrat (regular)

//TYPOGRAPHY-FONT SIZE
$font-size-small: 10;
$font-size-regular: 12;
$font-size-large: 20;
$font-size-x-large: 32;
$font-size-xx-large: 40;
$font-size-xxx-large: 60;

//TYPOGRAPHY-FONT WEIGHT
$font-weight-regular: 200;
$font-weight-bold: 400;

//MEDIA QUERIES
$mobile-small: 240px;
$mobile-large: 320px;
$tablet-small: 480px;
$tablet-large: 768px;
$screen-small: 1024px;
$screen-large: 1280px;